// Modal form styles.
// This file styles the modal form used for login and sign up.


.modal-form {
    @include position(fixed, 50%, null, null, 50%);
    @include size(76.8rem, null);

    max-width: 100%;
    min-height: 48rem;
    background-color: white;
    border-radius: 1.6rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    pointer-events: auto;
    overflow: hidden;

    transform: translate(-50%, -50%) scale(0.4);
    @include transition(all, 0.4s, ease-in-out);

    @include to(850px) {
        max-width: 90%;
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }

    .form-close {
        @include position(absolute, 2rem, 2rem, null, null);
        @include typeface($size-m, 700, $white-color);

        --ionicon-stroke-width: 7rem;
        z-index: 110;
        cursor: pointer;

        @include transition(color, 0.6s, ease-in-out);
    }

    &.right-panel-active .form-close {
        color: $blue-picpix-950;
    }

    .form-container {
        @include position(absolute, 0, null, null, null);
        height: 100%;

        @include transition(all, 0.6s, ease-in-out);
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    &.right-panel-active .sign-up-container {
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
        transform: translateX(100%);
    }

    form {
        @include flexbox(column, center, center);
        background-color: $white-color;
        padding: 0 5rem;
        height: 100%;
        text-align: center;

        @include to(850px) {
            padding: 0 3rem;
        }

        @include to(470px) {
            padding: 0 1rem;
        }
    }

    .social-container {
        margin: 2rem 0;

        @include to(850px) {
            margin: 1rem 0;
        }
    }

    .social-container a {
        @include flexbox(row, center, center);
        @include size(4rem, 4rem);

        display: inline-flex;
        border: 0.1rem solid $blue-picpix-50;
        border-radius: 50%;
        margin: 0 0.5rem;

        ion-icon {
            font-size: $size-sm;
        }

        &:hover {
            background-color: $blue-picpix-700;
            color: $white-color;
        }

        @include to(850px) {
            margin: 0 0.3rem;
        }

        @include to(470px) {
            @include size(3rem, 3rem);
            margin: 0 0.1rem;
        }
    }

    h3 {
        @include to(470px) {
            font-size: $font-m;
        }
    }

    a {
        @include typeface($font-xs, 400, $blue-picpix-950);
        margin: 1.5rem 0;

        @include to(470px) {
            font-size: $font-xxs;
            letter-spacing: -0.06rem;
            margin-top: 0;
        }
    }

    span {
        @include typeface($font-xs, 400, $blue-picpix-950);

        @include to(470px) {
            font-size: $font-xxs;
        }
    }

    input {
        @include typeface($font-xs, 400, null);

        background-color: $blue-picpix-50;
        border: none;
        border-radius: 0.8rem;
        padding: 1.2rem 1.5rem;
        margin: 0.8rem 0;
        width: 100%;

        @include to(850px) {
            width: 90%;
        }

        @include to(470px) {
            font-size: $font-xxs;
            padding: 1.2rem 0.8rem;
        }
    }

    .input-password {
        position: relative;
        width: 100%;

        ion-icon {
            position: absolute;
            padding: 0 1.5rem;
            font-size: 1.4rem;
            top: 50%;
            transform: translateY(-50%);

            &.eye {
                right: 0;
                cursor: pointer;
            }

            @include to(850px) {
                padding: 0 2.2rem;
            }

            @include to(470px) {
                padding: 0 1.6rem;
                font-size: $font-xxs;
            }
        }
    }

    .error-msg {
        @include typeface($font-xxs, 400, red);
    }

    .hidden-msg {
        display: none;
    }

    .btn {
        @include size(80%, 4rem);

        &.btn-sign-up {
            margin-top: 2rem;

            @include to(850px) {
                margin-top: 0.5rem;
            }
        }

        @include to(470px) {
            font-size: $font-sm;
        }
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    &.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    @keyframes show {

        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .overlay-container {
        @include position(absolute, 0, null, null, 50%);
        @include size(50%, 100%);

        overflow: hidden;
        z-index: 100;

        @include transition(transform, 0.6s, ease-in-out);
    }

    &.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .overlay {
        @include position(relative, null, null, null, -100%);
        @include background-gradient;
        @include size(200%, 100%);


        transform: translateX(0);
        @include transition(transform, 0.6s, ease-in-out);

        h3 {
            color: $white-color;
        }

        p {
            @include typeface($font-sm, 600, $white-color);
            letter-spacing: 0.04rem;
            margin: 2rem 0 3rem;

            @include to(470px) {
                font-size: $font-xs;
                letter-spacing: 0;
            }
        }

        .btn {
            color: $white-color;
            border: 0.2rem solid $white-color;

            &:hover {
                border: 0.2rem solid $blue-picpix-950;
                background-color: $blue-picpix-100;
                color: $blue-picpix-950;
                box-shadow: 0 0.2rem 0.4rem 0 $blue-picpix-100,
                    0.2rem 0.4rem 0 $blue-picpix-100;
            }
        }
    }

    &.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        @include flexbox(column, center, center);
        @include position(absolute, 0, null, null, null);
        @include size(50%, 100%);


        padding: 0 4rem;
        text-align: center;
        transform: translateX(0);

        @include transition(transform, 0.6s, ease-in-out);

        @include to(850px) {
            padding: 0 3rem;
        }

        @include to(470px) {
            padding: 0 1rem;
        }
    }

    .overlay-left {
        transform: translateX(-20%);
    }

    &.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    &.right-panel-active .overlay-right {
        transform: translateX(20%);
    }
}