// ===============================================================
// Search section styles
//
// This file styles the search section, including its layout,
// background patterns, content positioning, and search input field.
// ===============================================================

.search {
    // Overall container
    @include flexbox(null, center, center);

    height: 50rem;
    position: relative;

    // ------------------------------------------------
    // Background pattern
    // ------------------------------------------------
    &::before {
        @include size(100%, 100%);
        position: absolute;
        content: "";
        z-index: 1;

        // Pattern generation
        $s: 82px;
        /* Control the size of the pattern */

        $c1: #1d4e89;
        $c2: #ffffff;
        $c3: #dbe2ef;

        $_g: $c3 0 120deg, #0000 0;
        background: conic-gradient(from -60deg at 50% calc(100% / 3), $_g),
            conic-gradient(from 120deg at 50% calc(200% / 3), $_g),
            conic-gradient(from 60deg at calc(200% / 3),
                $c3 60deg,
                $c2 0 120deg,
                #0000 0),
            conic-gradient(from 180deg at calc(100% / 3), $c1 60deg, $_g),
            linear-gradient(90deg,
                $c1 calc(100% / 6),
                $c2 0 50%,
                $c1 0 calc(500% / 6),
                $c2 0);
        background-size: calc(1.732 * $s) $s;
        opacity: 0.4;
    }

    // ------------------------------------------------
    // Content container
    // ------------------------------------------------
    .content {
        @include size(70rem, null);
        color: $primary-color;
        padding: 0 2rem;
        text-align: center;

        h1, h3 {
            position: relative;
            z-index: 2;
        }

        h3 {
            margin-bottom: 4rem;
        }

        // ------------------------------------------------
        // Search box
        // ------------------------------------------------
        .search-box {
            height: 5.5rem;
            position: relative;
            z-index: 2;

            .search-icon {
                @include position(absolute, 50%, null, null, 2rem);
                @include typeface($imd, null, $primary-color);
                --ionicon-stroke-width: 70px;


                cursor: default;
                transform: translateY(-50%);
            }

            input {
                @include size(100%, 100%);
                @include typeface($tlg, 700, $primary-color);

                outline: none;
                border: none;

                padding-left: 5.5rem;
                background: rgba(255, 255, 255, 0.3);
                border: 0.25rem solid $primary-color;
                border-radius: 0.8rem;

                &::placeholder {
                    color: $primary-color;
                }

                &:focus::placeholder {
                    font-size: 0;
                }
            }
        }
    }
}