@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200;400;600;700&family=Mulish:wght@200;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: #112d4e;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #112d4e;
  font-family: "Arima", sans-serif;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #112d4e;
  font-family: "Arima", sans-serif;
}

.home {
  background-color: #fafcff;
  padding: 2rem 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 80%;
  flex: 1 0 50%;
}
@media (max-width: 850px) {
  .home__container {
    max-width: 90%;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
  }
}
.home__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 850px) {
  .home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 470px) {
  .home__title {
    font-size: 5rem;
  }
}
.home__paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #112d4e;
  width: 45rem;
  height: auto;
  text-align: justify;
}
@media (max-width: 850px) {
  .home__paragraph {
    display: none;
  }
}
.home__paragraph_2 {
  display: none;
}
@media (max-width: 850px) {
  .home__paragraph_2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #112d4e;
    display: flex;
    text-align: center;
  }
}
.home__button {
  margin-top: 4rem;
  display: block;
  padding: 1.2rem 2.4rem;
}
@media (max-width: 850px) {
  .home__button {
    padding: 1rem 1.6rem;
  }
}
@media (max-width: 850px) {
  .home__img {
    width: -moz-min-content;
    width: min-content;
    margin-top: 4rem;
    margin-left: 0;
  }
}
.home__img img {
  width: 100%;
  min-width: 20rem;
  animation: float 1.8s infinite alternate;
}
@media (max-width: 850px) {
  .home__img img {
    width: 60%;
    min-width: 15rem;
  }
}
.home__footer {
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 1.8rem;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  z-index: 110;
  transition: all 0.5s ease;
}
.navbar.fixed {
  position: fixed;
  background: rgb(255, 255, 255);
}
.navbar .nav-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .navbar .nav-container {
    width: 90%;
  }
}
.navbar .logo-and-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.navbar .nav-isologo img {
  width: 4rem;
  height: 4rem;
}
.navbar .search-navbar {
  width: 90%;
  margin: 0 2rem;
}
.navbar .search-navbar .search-box {
  min-width: 20rem;
  height: 4rem;
  position: relative;
}
@media (max-width: 850px) {
  .navbar .search-navbar .search-box {
    min-width: 15rem;
  }
}
@media (max-width: 480px) {
  .navbar .search-navbar .search-box {
    min-width: 5rem;
  }
}
.navbar .search-navbar .search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.6rem;
  color: #112d4e;
  --ionicon-stroke-width: 60px;
  cursor: default;
  transform: translateY(-50%);
}
@media (max-width: 480px) {
  .navbar .search-navbar .search-box .search-icon {
    left: 0.8rem;
  }
}
.navbar .search-navbar .search-box input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  color: #112d4e;
  outline: none;
  border: none;
  padding-left: 4rem;
  border: 0.2rem solid #112d4e;
  border-radius: 2.4rem;
}
.navbar .search-navbar .search-box input::-moz-placeholder {
  color: #112d4e;
}
.navbar .search-navbar .search-box input::placeholder {
  color: #112d4e;
}
.navbar .search-navbar .search-box input:focus::-moz-placeholder {
  font-size: 0;
}
.navbar .search-navbar .search-box input:focus::placeholder {
  font-size: 0;
}
@media (max-width: 480px) {
  .navbar .search-navbar .search-box input {
    padding-left: 2.5rem;
  }
}
.navbar .links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .links-container .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 850px) {
  .navbar .links-container .links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: #ffffff;
    display: block;
    z-index: 10;
    overflow: auto;
    transition: 0.2s ease;
  }
  .navbar .links-container .links li:first-of-type {
    border-top: solid 0.1rem #eee;
  }
}
@media (max-width: 850px) {
  .navbar .links-container .links li:hover {
    background-color: #eee;
  }
}
.navbar .links-container .links li:last-child {
  margin-right: 2rem;
}
@media (max-width: 850px) {
  .navbar .links-container .links li:last-child {
    margin-right: 0;
  }
}
.navbar .links-container .links a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #112d4e;
  transition: 0.1s ease ease;
}
@media (max-width: 850px) {
  .navbar .links-container .links a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    margin: 2rem 2rem;
    font-size: 1.6rem;
  }
}
.navbar .links-container .links .dropdown-item {
  position: relative;
}
.navbar .links-container .links .dropdown-item .nav-link-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.navbar .links-container .links .dropdown-item .nav-link-profile .avatar {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  border: 0.1rem solid #eee;
  background-color: #ffffff;
  border-radius: 50%;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .nav-link-profile .avatar {
    display: none;
  }
}
.navbar .links-container .links .dropdown-item .nav-link-profile .avatar img {
  width: 3rem;
  height: 3rem;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .nav-link-profile .avatar img {
    display: none;
  }
}
.navbar .links-container .links .dropdown-item .nav-link-profile .dropdown-arrow {
  font-size: 1.6rem;
  color: #112d4e;
  cursor: pointer;
  transition: transform 0.4s ease;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .nav-link-profile .dropdown-arrow {
    display: none;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 4.5rem;
  left: -18rem;
  max-height: 0;
  min-width: 23rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.4);
  transition: max-height 0.4s ease-out;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: none;
    box-shadow: none;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu li {
  width: 100%;
  padding: 1rem;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu li {
    padding: 0;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu li:first-child {
  margin-top: 1rem;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu li:first-child {
    margin-top: 0;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu li:last-child {
  margin-bottom: 0.5rem;
}
.navbar .links-container .links .dropdown-item .dropdown-menu li:hover {
  background-color: #eee;
}
.navbar .links-container .links .dropdown-item .dropdown-menu li:hover:last-child {
  background-color: transparent;
}
.navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #112d4e;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  transition: background-color 0.3s ease;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link {
    font-size: 1.6rem;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link ion-icon {
  font-size: 1.4rem;
  color: #112d4e;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link ion-icon {
    display: none;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}
.navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link-social ion-icon {
  font-size: 1.6rem;
  color: #112d4e;
  transition: transform 0.3s ease-in-out;
}
.navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link-social ion-icon:hover {
  transform: scale(1.4);
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu .dropdown-link-social ion-icon {
    font-size: 2rem;
  }
}
.navbar .links-container .links .dropdown-item .dropdown-menu .separator {
  width: 100%;
  height: 0.1rem;
  margin: 1rem 0;
  background-color: #eee;
}
@media (max-width: 850px) {
  .navbar .links-container .links .dropdown-item .dropdown-menu .separator {
    margin: 0;
    height: 0.1rem;
  }
}
.navbar .links-container .links .dropdown-item:hover .dropdown-arrow {
  transform: rotate(180deg);
}
.navbar .links-container .links .dropdown-item:hover .dropdown-menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}
@media (max-width: 850px) {
  .navbar .links.show-menu {
    right: 0;
  }
}
.navbar .menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 850px) {
  .navbar .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.navbar .close-btn,
.navbar .hamburger-btn {
  display: none;
  cursor: pointer;
  font-size: 2.4rem;
  color: #112d4e;
  --ionicon-stroke-width: 55px;
}
.navbar .links .close-btn {
  position: absolute;
  top: 3rem;
  right: 2.5rem;
}
@media (min-width: 580px) {
  .navbar .links .close-btn {
    right: 3.5rem;
  }
}
@media (min-width: 750px) {
  .navbar .links .close-btn {
    right: 4rem;
  }
}
@media (max-width: 850px) {
  .navbar .links .close-btn {
    display: flex;
  }
}
.navbar .dropdown-container {
  position: relative;
}
.navbar .dropdown-container .avatar {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  border: 0.1rem solid #eee;
  background-color: #ffffff;
  border-radius: 50%;
}
.navbar .dropdown-container .avatar img {
  width: 3rem;
  height: 3rem;
}
.navbar .dropdown-container .btn-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
}
.navbar .dropdown-container .btn-dropdown ion-icon {
  font-size: 1.6rem;
  color: #112d4e;
  cursor: pointer;
}
.navbar .dropdown-container .btn-dropdown:last-child:hover {
  transform: rotate(180deg);
}
.navbar .dropdown-container .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  margin-top: 1rem;
  top: 100%;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 0.25rem;
  z-index: 1000;
  display: none;
}
.navbar .dropdown-container:hover .dropdown-menu {
  display: block;
}
.navbar .nav-upload-btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: inherit;
  width: 10rem;
  height: 5rem;
  margin-left: 1rem;
}
@media (max-width: 850px) {
  .navbar .nav-upload-btn {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .navbar .nav-upload-btn {
    width: 8rem;
    height: 4rem;
    margin: 0;
  }
}
.navbar .nav-upload-btn .nav-upload-icon {
  font-size: 2rem;
  color: inherit;
  --ionicon-stroke-width: 50px;
}
@media (max-width: 850px) {
  .navbar .nav-upload-btn .nav-upload-icon {
    font-size: 2rem;
    margin-right: 0;
  }
}
@media (min-width: 470px) {
  .navbar .nav-upload-btn .nav-upload-icon {
    font-size: 0;
    display: none;
  }
}
@media (max-width: 470px) {
  .navbar .nav-upload-btn {
    margin: 0;
    font-size: 0;
    width: 4rem;
    height: 4rem;
  }
}
.navbar .nav-login-btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: inherit;
  width: 10rem;
  height: 5rem;
  outline: none;
}
@media (max-width: 850px) {
  .navbar :is(.hamburger-btn) {
    display: flex;
  }
}

.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 76.8rem;
  max-width: 100%;
  min-height: 48rem;
  background-color: white;
  border-radius: 1.6rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
  opacity: 0;
  visibility: hidden;
  z-index: 101;
  pointer-events: auto;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.4);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 850px) {
  .modal-form {
    max-width: 90%;
  }
}
.modal-form.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.modal-form .form-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  --ionicon-stroke-width: 7rem;
  z-index: 110;
  cursor: pointer;
  transition: color 0.6s ease-in-out;
}
.modal-form.right-panel-active .form-close {
  color: #112d4e;
}
.modal-form .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.modal-form .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.modal-form.right-panel-active .sign-up-container {
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
  transform: translateX(100%);
}
.modal-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 5rem;
  height: 100%;
  text-align: center;
}
@media (max-width: 850px) {
  .modal-form form {
    padding: 0 3rem;
  }
}
@media (max-width: 470px) {
  .modal-form form {
    padding: 0 1rem;
  }
}
.modal-form .social-container {
  margin: 2rem 0;
}
@media (max-width: 850px) {
  .modal-form .social-container {
    margin: 1rem 0;
  }
}
.modal-form .social-container a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  border: 0.1rem solid #eee;
  border-radius: 50%;
  margin: 0 0.5rem;
}
.modal-form .social-container a ion-icon {
  font-size: 1.6rem;
}
.modal-form .social-container a:hover {
  background-color: #1d4e89;
  color: #ffffff;
}
@media (max-width: 850px) {
  .modal-form .social-container a {
    margin: 0 0.3rem;
  }
}
@media (max-width: 470px) {
  .modal-form .social-container a {
    width: 3rem;
    height: 3rem;
    margin: 0 0.1rem;
  }
}
@media (max-width: 470px) {
  .modal-form h3 {
    font-size: 2rem;
  }
}
.modal-form a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #112d4e;
  margin: 1.5rem 0;
}
@media (max-width: 470px) {
  .modal-form a {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
    margin-top: 0;
  }
}
.modal-form span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #112d4e;
}
@media (max-width: 470px) {
  .modal-form span {
    font-size: 1.2rem;
  }
}
.modal-form input {
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #eee;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 1.5rem;
  margin: 0.8rem 0;
  width: 100%;
}
@media (max-width: 850px) {
  .modal-form input {
    width: 90%;
  }
}
@media (max-width: 470px) {
  .modal-form input {
    font-size: 1.2rem;
    padding: 1.2rem 0.8rem;
  }
}
.modal-form .input-password {
  position: relative;
  width: 100%;
}
.modal-form .input-password ion-icon {
  position: absolute;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}
.modal-form .input-password ion-icon.eye {
  right: 0;
  cursor: pointer;
}
@media (max-width: 850px) {
  .modal-form .input-password ion-icon {
    padding: 0 2.2rem;
  }
}
@media (max-width: 470px) {
  .modal-form .input-password ion-icon {
    padding: 0 1.6rem;
    font-size: 1.2rem;
  }
}
.modal-form .btn {
  width: 80%;
  height: 4rem;
}
.modal-form .btn.btn-sign-up {
  margin-top: 2rem;
}
@media (max-width: 850px) {
  .modal-form .btn.btn-sign-up {
    margin-top: 0.5rem;
  }
}
@media (max-width: 470px) {
  .modal-form .btn {
    font-size: 1.6rem;
  }
}
.modal-form .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.modal-form.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.modal-form .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: transform 0.6s ease-in-out;
}
.modal-form.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.modal-form .overlay {
  position: relative;
  left: -100%;
  background-color: #112d4e;
  background-image: linear-gradient(180deg, #112d4e 0%, #1d4e89 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 200%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.modal-form .overlay h3 {
  color: #ffffff;
}
.modal-form .overlay p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.04rem;
  margin: 2rem 0 3rem;
}
@media (max-width: 470px) {
  .modal-form .overlay p {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
}
.modal-form .overlay .btn {
  color: #ffffff;
  border: 0.2rem solid #ffffff;
}
.modal-form .overlay .btn:hover {
  border: 0.2rem solid #112d4e;
  background-color: #FF4B2B;
  color: #112d4e;
  box-shadow: 0 0.2rem 0.4rem 0 #FF4B2B, 0.2rem 0.4rem 0 #FF4B2B;
}
.modal-form.right-panel-active .overlay {
  transform: translateX(50%);
}
.modal-form .overlay-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 0 4rem;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
@media (max-width: 850px) {
  .modal-form .overlay-panel {
    padding: 0 3rem;
  }
}
@media (max-width: 470px) {
  .modal-form .overlay-panel {
    padding: 0 1rem;
  }
}
.modal-form .overlay-left {
  transform: translateX(-20%);
}
.modal-form.right-panel-active .overlay-left {
  transform: translateX(0);
}
.modal-form .overlay-right {
  right: 0;
  transform: translateX(0);
}
.modal-form.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  position: relative;
}
.search::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  z-index: 1;
  /* Control the size of the pattern */
  background: conic-gradient(from -60deg at 50% 33.3333333333%, #dbe2ef 0 120deg, rgba(0, 0, 0, 0) 0), conic-gradient(from 120deg at 50% 66.6666666667%, #dbe2ef 0 120deg, rgba(0, 0, 0, 0) 0), conic-gradient(from 60deg at 66.6666666667%, #dbe2ef 60deg, #ffffff 0 120deg, rgba(0, 0, 0, 0) 0), conic-gradient(from 180deg at 33.3333333333%, #1d4e89 60deg, #dbe2ef 0 120deg, rgba(0, 0, 0, 0) 0), linear-gradient(90deg, #1d4e89 16.6666666667%, #ffffff 0 50%, #1d4e89 0 83.3333333333%, #ffffff 0);
  background-size: 142.024px 82px;
  opacity: 0.4;
}
.search .content {
  width: 70rem;
  color: #112d4e;
  padding: 0 2rem;
  text-align: center;
}
.search .content h1, .search .content h3 {
  position: relative;
  z-index: 2;
}
.search .content h3 {
  margin-bottom: 4rem;
}
.search .content .search-box {
  height: 5.5rem;
  position: relative;
  z-index: 2;
}
.search .content .search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 2rem;
  font-size: 1.8rem;
  color: #112d4e;
  --ionicon-stroke-width: 70px;
  cursor: default;
  transform: translateY(-50%);
}
.search .content .search-box input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: #112d4e;
  outline: none;
  border: none;
  padding-left: 5.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 0.25rem solid #112d4e;
  border-radius: 0.8rem;
}
.search .content .search-box input::-moz-placeholder {
  color: #112d4e;
}
.search .content .search-box input::placeholder {
  color: #112d4e;
}
.search .content .search-box input:focus::-moz-placeholder {
  font-size: 0;
}
.search .content .search-box input:focus::placeholder {
  font-size: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.gallery .images {
  max-width: 80%;
  margin-top: 8rem;
  -moz-columns: 5 28rem;
       columns: 5 28rem;
  gap: 2rem;
  list-style: none;
}
@media (max-width: 1024px) {
  .gallery .images {
    -moz-columns: 5 26rem;
         columns: 5 26rem;
  }
}
@media (max-width: 850px) {
  .gallery .images {
    max-width: 90%;
    margin-top: 4rem;
    -moz-columns: 5 28rem;
         columns: 5 28rem;
  }
}
.gallery .images img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.gallery .card {
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
  overflow: hidden;
}
.gallery .card .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -10rem;
  width: 100%;
  padding: 2rem 2rem;
  transition: bottom 0.1s ease;
  z-index: 4;
}
@media (max-width: 1024px) {
  .gallery .card .details {
    bottom: 0;
  }
}
.gallery .card .details .photographer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: #ffffff;
}
.gallery .card .details .photographer ion-icon {
  margin-right: 1rem;
  font-size: 1.6rem;
  --ionicon-stroke-width: 40px;
}
.gallery .card .details .photographer span {
  font-size: 1.6rem;
}
.gallery .card .details button ion-icon {
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  color: #ffffff;
  --ionicon-stroke-width: 40px;
  border: 0.2rem solid #ffffff;
  padding: 0.4rem;
}
.gallery .card button,
.gallery .card i {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 0.8rem;
  transition: 0.2s ease;
}
.gallery .images li:hover .details {
  bottom: 0;
}
.gallery .load-more {
  width: auto;
  height: auto;
  margin: 5rem 0;
  padding: 1.2rem 2.4rem;
}
@media (max-width: 850px) {
  .gallery .load-more {
    font-size: 1.6rem;
  }
}
.gallery .load-more .disabled {
  opacity: 0.6;
  pointer-events: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.lightbox .wrapper {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 100%;
  max-width: 85rem;
  padding: 2rem;
  background: #ffffff;
  border-radius: 1.6rem;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: 0.1s ease;
}
@media (max-width: 1024px) {
  .lightbox .wrapper {
    max-width: calc(100% - 20rem);
  }
}
@media (max-width: 850px) {
  .lightbox .wrapper {
    max-width: calc(100% - 8.5rem);
  }
}
@media (max-width: 480px) {
  .lightbox .wrapper {
    max-width: calc(100% - 3.5rem);
  }
}
.lightbox .wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbox .wrapper header .photographer {
  color: #112d4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbox .wrapper header .photographer ion-icon {
  margin-right: 1rem;
  font-size: 1.6rem;
  --ionicon-stroke-width: 40px;
  cursor: auto;
}
.lightbox .wrapper header .photographer span {
  font-size: 1.6rem;
}
.lightbox .wrapper header .wrapper-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbox .wrapper header .wrapper-btn ion-icon {
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  color: #112d4e;
  --ionicon-stroke-width: 40px;
  padding: 0.8rem;
}
.lightbox .wrapper header .wrapper-btn ion-icon:hover {
  color: #ffffff;
}
.lightbox .wrapper header .wrapper-btn ion-icon:last-child {
  margin-left: 0.5rem;
}
.lightbox .wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
@media (max-width: 850px) {
  .lightbox .wrapper .preview-img {
    margin-top: 1rem;
  }
}
.lightbox .wrapper .preview-img .img {
  max-height: 65vh;
}
.lightbox .wrapper .preview-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: #112d4e;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.2rem solid #112d4e;
  background: transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.15s ease;
}
.btn:hover {
  border: 0.2rem solid #ffffff;
  background-color: #1d4e89;
  color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem 0 #1d4e89, 0.2rem 0.4rem 0 #1d4e89;
  transform: translateY(-0.2rem);
}
.btn:active {
  transform: scale(0.8);
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  transition: 0.1s ease ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}/*# sourceMappingURL=main.css.map */