// Button styles
// This file styles the buttons used throughout the project.

// General Buttons Style
.btn {
    @include typeface($font-sm, 700, $blue-picpix-950);
    @include size(fit-content, fit-content);

    border: 0.2rem solid $blue-picpix-950;
    background: transparent;
    border-radius: 0.8rem;
    cursor: pointer;

    @include transition(all, 0.15s, ease);

    // Hover state
    &:hover {
        border: 0.2rem solid $white-color;
        background-color: $blue-picpix-700;
        color: $white-color;
        box-shadow: 0 0.2rem 0.4rem 0 $blue-picpix-700,
            0.2rem 0.4rem 0 $blue-picpix-700;
        transform: translateY(-0.2rem);
    }

    // Active state
    &:active {
        transform: scale(0.8);
    }
}