// ===============================================================
// Button styles
//
// This file styles the buttons used throughout the project.
// ===============================================================
.btn {
    // Basic styles
    @include typeface($tmd, 700, $primary-color);
    @include size(fit-content, fit-content);

    // padding: 0.9rem 1rem;
    border: 0.2rem solid $primary-color;
    background: transparent;
    border-radius: 0.8rem;
    cursor: pointer;

    @include transition(all, 0.15s, ease);

    // Hover state
    &:hover {
        border: 0.2rem solid $white-color;
        background-color: $secondary-color;
        color: $white-color;
        box-shadow: 0 0.2rem 0.4rem 0 $secondary-color,
            0.2rem 0.4rem 0 $secondary-color;
        transform: translateY(-0.2rem);
    }

    // Active state
    &:active {
        transform: scale(0.8);
    }
}