// Blurred background overlay styles.
// This file styles the blurred background overlay used for popups.

// Overlay with blur effect
.blur-bg-overlay {
    @include position(fixed, 0, null, null, 0);
    @include size(100%, 100%);

    z-index: 101;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    @include transition(0.1s, ease);
}

// Visibility and interactivity on popup display
.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}