// Base styles
// This file sets the base styles for the project, including

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200;400;600;700&family=Mulish:wght@200;400;600;700;800;900&display=swap");

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

// Links Style
a {
    color: $blue-picpix-950;
    text-decoration: none;
    cursor: pointer;
}

// Lists Style
ul,
ol {
    list-style: none;
}

// Headings Style
h1 {
    @include typeface($font-xl, 700, $blue-picpix-950);
    font-family: $title-font
}

h3 {
    @include typeface ($font-md, 700, $blue-picpix-950);
    font-family: $title-font
}

// Screen readers only Style
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}